[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/jquery-mockjax"]
	path = lib/jquery-mockjax
	url = https://github.com/appendto/jquery-mockjax.git
[submodule "lib/todc-bootstrap"]
	path = lib/todc-bootstrap
	url = https://github.com/todc/todc-bootstrap.git
[submodule "lib/todc-select2"]
	path = lib/todc-select2
	url = https://github.com/todc/todc-select2.git
[submodule "lib/todc-datepicker"]
	path = lib/todc-datepicker
	url = https://github.com/todc/todc-datepicker.git
[submodule "lib/select2"]
	path = lib/select2
	url = https://github.com/ivaynberg/select2.git
[submodule "lib/qunit"]
	path = lib/qunit
	url = https://github.com/jquery/qunit.git
