[submodule "lib/jquery"]
	path = lib/jquery
	url = https://github.com/jquery/jquery.git
[submodule "lib/bootstrap"]
	path = lib/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "lib/todc-bootstrap"]
	path = lib/todc-bootstrap
	url = https://github.com/todc/todc-bootstrap.git
[submodule "lib/jquery-mockjax"]
	path = lib/jquery-mockjax
	url = https://github.com/appendto/jquery-mockjax.git
